html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    /* grid-area: header1; */
    text-align: center;
    margin-top: 3%;
}

.category{
    background: #aaa;
    margin: 2%;
    padding: 1rem;
}

.change{
    margin: 1%;
    padding: 1rem;
    background: azure;
}

h1{
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 3px 3px 3px rgb(75, 75, 75);
}

h2, h3{
    margin: 10px;
}